
@import url(http://fonts.googleapis.com/css?family=Squada+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Pallete:
 * #412E19 dark brown
 * #776045 brown
 * #CAB7A0 light brown
 * #DFD3B6 beige
 * #FFFFFF white
 * #A8C545 green
 * #0092B2 blue
 */

body {
    background-color: #DFD3B6;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: #0092B2;
}
a:hover, a:visited, a:active {
    color: #0092B2;
}


.header {
    background-color: #776045;
    padding: 20px 0 20px;
}
h1.title {
    margin: 0;
}
h1.title > a {
    color: #DFD3B6;
    font-family: 'Squada One', cursive;
    text-shadow: 0 2px 0 #412E19;
}
h1.title > a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
form.search {
    margin-top: 5px;
    text-align: right;
    position: relative;
}
form.search input {
    position: absolute;
    left: 0;
    right: 42px;
    width: initial;
}
form.search .btn {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 40px;
}


.main {
    margin-top: 20px;
}


.menu {
    list-style-type: none;
    padding: 0;
}
.menu-item a {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: #0092B2;
    font-size: 18px;
    display: block;
}
.menu-item a:hover {
    background-color: #0092B2;
    color: #FFFFFF;
    text-decoration: none;
}
.authentication {
    float: right;
}


.card {
    background-color: #FFFFFF;
    padding: 10px;
    border-bottom: 3px solid #CAB7A0;
}
.post-card {
    margin-bottom: 20px;
}
.post-card h3 {
    margin-top: 0;
    font-weight: bold;
}


.login-form .form-group {
    margin-left: 0;
    margin-right: 0;
}