{% extends "main_with_menu.html" %}

{% block main_left_col %}
    <div class="post-card">
        <h3><a href="#">May the force be with you</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Duis viverra, metus vitae tincidunt
        mollis, felis justo vulputate nibh, sit amet
        ullamcorper lorem eros at nibh. Aliquam sed nisl nec
        nunc facilisis condimentum id et est. Sed ut mollis
        nulla. Praesent posuere egestas massa ac tincidunt.
        Phasellus malesuada diam eget eros congue
        sollicitudin. Nulla at orci est. Maecenas eu erat
        vitae tortor sodales viverra. Nam sagittis, orci ac
        semper pharetra, mi augue scelerisque orci, nec
        iaculis ante lectus in eros. Maecenas consectetur
        nunc id nunc mollis dapibus. Aliquam erat volutpat.
        Donec est elit, auctor nec rhoncus ut, ornare id
        leo. Vestibulum.</p>
        <em>Read more...</em>
    </div>
    
    <div class="post-card">
        <h3><a href="#">Lightsaber tricks</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Duis viverra, metus vitae tincidunt
        mollis, felis justo vulputate nibh, sit amet
        ullamcorper lorem eros at nibh. Aliquam sed nisl nec
        nunc facilisis condimentum id et est. Sed ut mollis
        nulla. Praesent posuere egestas massa ac tincidunt.
        Phasellus malesuada diam eget eros congue
        sollicitudin. Nulla at orci est. Maecenas eu erat
        vitae tortor sodales viverra. Nam sagittis, orci ac
        semper pharetra, mi augue scelerisque orci, nec
        iaculis ante lectus in eros. Maecenas consectetur
        nunc id nunc mollis dapibus. Aliquam erat volutpat.
        Donec est elit, auctor nec rhoncus ut, ornare id
        leo. Vestibulum.</p>
        <em>Read more...</em>
    </div>
{% endblock %}
